.ReactTable {
    height: 400px;
}

.MuiTableHead-root {
    background-color: white;
    z-index: 1;
    /*height: 31px;*/
}
.MuiTableBody-root {
    padding-top: 72px;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

table td, table th {
    padding: 3px 3px!important;
    font-size: 11px!important;
}